.logo {
    font-family: var(--xprmntl-font);
    font-size: 3rem;
    margin: 0;
    display: inline;
}

.link {
    color: var(--color-text)
}

.link:visited {
    color: inherit;
}

.active {
    text-decoration: none;
    cursor: default;
}
