.article {
    position: relative;
}

.article + .article {
    margin-top: 2rem;
}

.link {
    color: var(--color-text);
}

.preview {
    border: 2px solid currentColor;
    padding: 0 15px;
}

.footer {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: baseline;
}

.footer > :not(:last-child) {
    margin-right: 0.7rem;
}

.date {
    color: var(--color-text-light);
}
